@import '../../base/variables';

body{
  font-size: 16px;
  color: $dark-grey;
}

.form-type-managed-file{
  .image-widget{
    width: 100%;
  }
  .image-widget-data{
    float: none;
  }
  .image-preview{
    width: 100%;
    padding: 0;
    img{
      max-width: 250px;
      width: 100% !important;
      height: auto !important;
    }
  }
  .input-group-append{
    width: 100%;
  }
  .input-group-text{
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }
  .btn{
    width: 100%;
    max-width: 250px;
  }
}
a,
input,
button{
  &.btn{
    border-radius: 20px;
    border: 2px solid $orange;
    color: $orange;
    background-color: $white;
    font-size: 12px;
    font-weight: bold;

    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    &.btn-primary{
      background-color: $orange;
      color: $white;
      &:hover{
        color: $orange;
        background-color: $white;
        border: 2px solid $orange;
      }
    }
    &.btn-green{
      background-color: $vert;
      color: $white;
      border-color: $vert;
      &:hover{
        background-color: lighten($vert, 5%);
      }
    }
  }
}

.form-check-input{
  &:checked {
    background-color: $vert;
    border-color: $vert;
  }
}

.login-form{
  .btn{
    padding: 12px 45px;
  }
}
