@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Medium';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Light';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Bold';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

body {
  font-family: "Montserrat-Regular", sans-serif;
}

.main-content .alert-wrapper {
  position: initial;
}

.with-section {
  border-top: 1px solid #dfe3e6;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

.block-page-title-block .title {
  text-transform: uppercase;
}

.wagam-header {
  border-bottom: 1px solid #dfe3e6;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.btn .fab,
.btn .far,
.btn .fas {
  margin-right: 0.5rem;
}

.branding-group {
  display: flex;
  align-items: center;
  padding: 20px;
}

.branding-group .site-name {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.branding-logo {
  width: 75px;
  border-radius: 50%;
}

.field--name-field-media-image {
  margin: 0 !important;
}

.field--name-field-media-image img {
  width: 100% !important;
  height: auto !important;
  margin: 0;
}

h1 {
  font-family: "Montserrat-Bold", sans-serif;
}

.field i {
  margin-right: 0.5rem;
}

@media (min-width: 992px) {
  .branding-logo {
    display: inline-block;
    width: 100px;
  }
  .offcanvas-body {
    align-items: center;
  }
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Medium';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Light';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Bold';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

.node--view-mode-full .breadcrumb {
  padding: 1rem 0;
}

.node--view-mode-full .node__content {
  margin-top: 0;
}

.node--view-mode-full .field--name-field-illustration {
  display: flex;
}

.node--view-mode-full .field--name-field-illustration img {
  width: 100% !important;
  height: auto !important;
}

.node--view-mode-full .field--type-entity-reference {
  margin: 0;
}

.node--view-mode-full .field--name-field-description {
  margin: 1rem 0;
  font-family: "Montserrat-Light", sans-serif;
  font-weight: 700;
}

.node--view-mode-full .node-header {
  padding-top: 0.5rem;
}

.node--view-mode-full .node-header .field {
  padding: 1rem 0;
}

.node--view-mode-full .node-header .field:nth-child(2n) {
  border-left: 1px solid #E9E31F;
}

.node--view-mode-full.with-chapter .field--name-field-media-image img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.node--view-mode-full.with-chapter .multi-col-wrapper {
  padding: 1rem;
  border-radius: 45px;
  position: relative;
  top: -25px;
  background-color: #fff;
}

.node--view-mode-full .lecon-pager-wrapper {
  padding: 2rem 0 0 0;
}

.node--view-mode-full .lecon-pager-wrapper .pager-previous:before {
  content: '\f060';
  margin-right: 0.5rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 700;
}

.node--view-mode-full .lecon-pager-wrapper .pager-next:after {
  content: '\f061';
  font-family: "Font Awesome 5 Free", sans-serif;
  margin-left: 0.5rem;
  font-weight: 700;
}

.node--view-mode-card.card {
  border: none;
}

.node--view-mode-card .field--name-field-illustration {
  margin: 0;
}

.node--view-mode-card .field--name-field-illustration img {
  border-radius: 25px 25px 0 0;
}

.node--view-mode-card.with-image .card-body {
  position: relative;
  top: -30px;
}

.node--view-mode-card .card-body {
  border-radius: 25px;
  background-color: #fff;
  border: 1px solid #f1f2f3;
}

.node--view-mode-card .field--type-entity-reference {
  margin-bottom: 0.5rem;
}

.node--view-mode-card .accordion-item {
  margin: 0.5rem 0;
}

.node--view-mode-card .accordion-item ol {
  font-size: 0.85rem;
  padding: 0.25rem 0 0 0;
}

.node--view-mode-card .accordion-item .accordion-body {
  padding: 0.5rem 1.25rem;
}

.node--view-mode-card .accordion-item .accordion-button {
  padding: 0.5rem;
}

@media (min-width: 767px) {
  .node--view-mode-full.with-chapter .multi-col-wrapper {
    padding: 2rem;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    top: -65px;
  }
  .node--view-mode-full .field--name-field-media-image {
    margin-bottom: 2rem;
  }
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Medium';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Light';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Bold';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

.webform-submission .webform-navigation-header {
  border-bottom: 2px solid #dfe3e6;
}

.webform-submission .score {
  display: flex;
  align-items: center;
}

.webform-submission .score .numerator {
  margin-left: 0.5rem;
}

.webform-submission .score .denominator:before {
  content: '/';
  margin: 0 0.5rem;
}

.webform-submission .submission-title {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}

.webform-submission .btn-prev::before,
.webform-submission .back-recap::before {
  content: '\f053';
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 700;
  margin-right: 0.5rem;
}

.webform-submission .btn-next::after {
  content: '\f054';
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 700;
  margin-left: 0.5rem;
}

.webform-submission .state .current {
  background-color: #00995D;
  border-radius: 50%;
  padding: 0.5rem .75rem;
  text-align: center;
  color: #fff;
}

.webform-submission .question-wrapper {
  padding: 2rem 0;
}

.webform-submission .user-answer {
  color: #0d6efd;
}

.webform-submission .ennonce-wrapper .question-title {
  font-family: "Montserrat-Bold", sans-serif;
}

@media (min-width: 767px) {
  .webform-submission .submission-title {
    margin: 2rem 0;
  }
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Medium';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Light';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Bold';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

.wagam-current-user-block {
  border-radius: 0;
}

.wagam-current-user-block .card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
}

.wagam-current-user-block .username {
  margin: 0;
  padding: 1rem;
  font-family: "Montserrat-Bold", sans-serif;
}

.wagam-current-user-block .account-image {
  width: 50px !important;
  border-radius: 50%;
}

.wagam-current-user-block .card-body .btn.btn-primary:not(:first-child) {
  margin-top: 0.25rem;
}

.wagam-home-wrapper .wagam-current-user-block .account-image {
  width: 80px !important;
  height: auto !important;
}

.wagam-home-wrapper .wagam-current-user-block .card-header {
  background: url("/themes/custom/subtheme/assets/profil_heading.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 0;
  padding-top: 1.5rem;
  flex-direction: column;
}

@media (min-width: 992px) {
  .wagam-home-wrapper .wagam-current-user-block .account-image {
    width: 100px !important;
  }
  .home-user-profile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
  }
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Medium';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Light';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Bold';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

.home-main-bloc {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home-main-bloc .title {
  max-height: 50%;
}

.home-main-bloc .bloc--content {
  padding-bottom: 5rem;
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Medium';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Light';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Bold';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

.node--view-mode-tree-link .tree-title a {
  color: #3A3A3A;
  text-decoration: none;
  font-weight: 800;
}

.node--view-mode-tree-link ol {
  border-top: 2px solid #00995D;
  padding: 1rem;
  color: #EF7B00;
}

.node--view-mode-tree-link ol li {
  font-size: 1.1rem;
  padding: 0.5rem 0;
}

.node--view-mode-tree-link ol li:before {
  color: orange;
}

.node--view-mode-tree-link ol a {
  color: #3A3A3A;
}

.node--view-mode-tree-link ol .current a {
  color: #EF7B00;
}

.node--view-mode-tree-link ol .current:before {
  content: '\f0a4';
  font-family: "Font Awesome 5 Free", sans-serif;
}

.node--view-mode-card .node--view-mode-tree-link .tree-item a {
  font-size: 0.9rem;
}

.node.with-chapter .mobile-toggler-wrapper {
  padding: 1rem 0.5rem;
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Medium';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Light';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Bold';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

.submission-item-teaser {
  border: none;
  border-bottom: 1px solid #f1f2f3;
  padding: 0.5rem 0;
}

.submission-item-teaser .score-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dfe3e6;
  border-radius: 50%;
  width: 106px;
  height: 106px;
}

.submission-item-teaser .score-wrapper::before {
  content: '';
  background: url("/themes/custom/subtheme/assets/trophy.png") no-repeat;
  width: 50px;
  height: 50px;
  background-size: contain;
  display: block;
}

.submission-item-teaser .score-area {
  margin: 0;
}

.webfrom-submission-wrapper {
  margin: 2rem 0;
}

.webfrom-submission-wrapper .result-wrapper-title {
  font-family: "Montserrat-Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.375rem;
}

.webform-detail-wrapper .related-title {
  margin-top: 1rem;
  font-family: "Montserrat-Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.375rem;
  text-align: center;
}

@media (min-width: 767px) {
  .webform-detail-wrapper .related-title {
    margin-top: 0;
  }
  .webfrom-submission-wrapper {
    margin: 0;
  }
  .webfrom-submission-wrapper .result-wrapper-title {
    margin-bottom: 1.5rem;
  }
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Medium';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Light';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Bold';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

.webform-detail-wrapper .form_title {
  font-weight: 200;
  font-size: 1.5rem;
  background-color: #EF7B00;
  color: #fff;
  margin: 0;
  padding: 0.75rem 0.75rem;
}

.webform-detail-wrapper .form-props {
  padding: 1.5rem 1rem;
  border: 2px solid #EF7B00;
  margin: 0;
}

.webform-detail-wrapper .form-props li {
  list-style: none;
  padding: 0.25rem 0.25rem;
}

.webform-detail-wrapper .btn i {
  font-weight: 500;
  color: #fff;
}

.webform-detail-wrapper li i {
  margin-right: 0.5rem;
}

.webform-detail-wrapper .related-title {
  padding: 1.5rem 0;
}

@media (min-width: 992px) {
  .webform-detail-wrapper {
    padding-right: 2rem;
  }
  .webform-detail-wrapper .lesson-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Medium';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Light';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Bold';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

.field--name-field-superviseurs .tabledrag-toggle-weight-wrapper {
  display: none;
}

.field--name-field-superviseurs table {
  --bs-table-striped-bg: none;
}

.field--name-field-superviseurs .draggable {
  background: none;
  border-bottom: 2px solid #f1f2f3;
}

.field--name-field-superviseurs .draggable td:hover {
  --bs-table-accent-bg: none;
}

.field--name-field-superviseurs .field-multiple-drag {
  display: none;
}

.field--name-field-superviseurs thead {
  display: none;
}

.field--name-field-superviseurs .paragraph-type-top .paragraph-type-title {
  display: none;
}

.field--name-field-superviseurs .paragraphs-subform {
  display: flex;
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Medium';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Light';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Bold';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

.nav.flex-column .nav-item {
  border-bottom: 1px solid #dfe3e6;
  font-size: 1.25rem;
}

.dashboard-sidebard .nav-item {
  display: flex;
  align-items: center;
}

.dashboard-sidebard .nav-item:before {
  margin-left: 1rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  color: #0d6efd;
  font-weight: 900;
}

.dashboard-sidebard .nav-item:first-child:before {
  content: '\f2bd';
}

.dashboard-sidebard .nav-item:nth-child(2):before {
  content: '\f505';
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Medium';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Light';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Bold';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

.menu--main {
  margin-top: 2rem;
}

.menu--main .nav-item {
  font-family: "Montserrat-Light", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

.menu--main .nav-item .nav-link {
  padding-left: 1rem;
  border-radius: 0.5rem;
  color: #3A3A3A;
}

.menu--main .nav-item .nav-link:hover {
  background-color: #ffb970;
}

.menu--main .nav-item .is-active {
  color: #fff;
  background-color: #EF7B00;
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Medium';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Light';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Bold';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

body {
  font-size: 16px;
  color: #3A3A3A;
}

.form-type-managed-file .image-widget {
  width: 100%;
}

.form-type-managed-file .image-widget-data {
  float: none;
}

.form-type-managed-file .image-preview {
  width: 100%;
  padding: 0;
}

.form-type-managed-file .image-preview img {
  max-width: 250px;
  width: 100% !important;
  height: auto !important;
}

.form-type-managed-file .input-group-append {
  width: 100%;
}

.form-type-managed-file .input-group-text {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 100%;
}

.form-type-managed-file .btn {
  width: 100%;
  max-width: 250px;
}

a.btn,
input.btn,
button.btn {
  border-radius: 20px;
  border: 2px solid #EF7B00;
  color: #EF7B00;
  background-color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

a.btn:after,
input.btn:after,
button.btn:after {
  font-weight: 800;
}

a.btn.btn-primary,
input.btn.btn-primary,
button.btn.btn-primary {
  background-color: #EF7B00;
  color: #fff;
}

a.btn.btn-primary:hover,
input.btn.btn-primary:hover,
button.btn.btn-primary:hover {
  color: #EF7B00;
  background-color: #fff;
  border: 2px solid #EF7B00;
}

a.btn.btn-green,
input.btn.btn-green,
button.btn.btn-green {
  background-color: #00995D;
  color: #fff;
  border-color: #00995D;
}

a.btn.btn-green:hover,
input.btn.btn-green:hover,
button.btn.btn-green:hover {
  border-color: #00995D;
  color: #fff;
  background-color: #00b36d;
}

.form-check-input:checked {
  background-color: #00995D;
  border-color: #00995D;
}

.login-form .btn {
  padding: 12px 45px;
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Medium';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Light';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Bold';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

.login-form {
  padding: 2rem 2rem;
  border: 1px solid #dfe3e6;
  border-radius: 1.5rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.08), 0 10px 10px rgba(0, 0, 0, 0.05);
}

.login-form h1 {
  padding: 3rem 0;
}

.login-form .form-actions {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.login-form .create-acc-link {
  margin-left: 0.25rem;
}

.page-user-password .main-content .content,
.page-user-login .main-content .content {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 250px);
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Medium';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Light';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Bold';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

.webform-submission-form .form-actions {
  max-width: 600px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 1.5rem 0;
}

.webform-submission-form .webform-button--next:after {
  content: '\f061';
  font-family: "Font Awesome 5 Free", sans-serif;
  margin-left: 0.5rem;
  font-weight: 800;
}

.webform-submission-form .webform-button--previous:before {
  content: '\f060';
  font-family: "Font Awesome 5 Free", sans-serif;
  margin-right: 0.5rem;
  font-weight: 800;
}

.webform-submission-form .webform-button--submit:before {
  content: '\f00c';
  font-family: "Font Awesome 5 Free", sans-serif;
  margin-right: 0.5rem;
  font-weight: 800;
}

.webform-submission-form .radios--wrapper {
  border: 2px solid #00995D;
  border-radius: 15px;
  position: relative;
}

.webform-submission-form .radios--wrapper .fieldset-legend {
  background-color: #00995D;
  color: #fff;
  padding: 0.45rem 1rem;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Montserrat-Light", sans-serif;
  font-size: 1rem;
  position: absolute;
}

.webform-submission-form .radios--wrapper .fieldset-wrapper {
  padding: 2.5rem 1rem 1rem 1rem;
}

.webform-submission-form fieldset {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.webform-submission-form fieldset.js-form-type-webform-markup {
  padding: 2rem 1rem;
  font-weight: 600;
}

.webform-submission-form .progress-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
}

.webform-submission-form .progress {
  max-width: 500px;
  width: 100%;
  margin: auto;
}

@media (min-width: 767px) {
  .webform-submission-form .progress-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }
  .webform-submission-form .form-title {
    padding-right: 1rem;
  }
  .webform-submission-form .progress {
    max-width: 500px;
    width: 100%;
    margin: 0;
  }
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Medium';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Light';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Bold';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

.card-list .card {
  margin: 0.5rem 0;
}

@media (min-width: 767px) {
  .card-list .card:nth-child(n) {
    margin: 0 0.5rem 0.5rem 0;
  }
  .card-list .card:nth-child(3n) {
    margin: 0 0 0.5rem 0.5rem;
  }
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Medium';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Light';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Slab-Bold';
  src: url("/themes/custom/subtheme/fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/themes/custom/subtheme/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  /* Modern Browsers */
}

.view .view-content {
  padding: 0 0 3rem 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

@media (min-width: 767px) {
  .view .view-content {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
  }
  .view .view-content .node {
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .view .view-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
