@import '../../base/variables';

.quiz-navigation-header{
    border-bottom: 2px solid $ligh-dark-grey;
}

.question-wrapper{
    min-height: 50vh;
    display: flex;
    align-items: center;
}

.quiz-submission,
.webform-submission{
    .webform-navigation-header{
        border-bottom: 2px solid $ligh-dark-grey;
    }
    .score{
        display: flex;
        align-items: center;
        .numerator{
            margin-left: 0.5rem;
        }
        .denominator{
            &:before{
                content: '/';
                margin: 0 0.5rem;
            }
        }
    }
    .submission-title{
        font-size: 2rem;
        text-align: center;
        margin: 1rem 0;
    }

    .btn-prev,
    .back-recap{
        &::before{
            content: '\f053';
            font-family: $font-awesome-5-free;
            font-weight: 700;
            margin-right: 0.5rem;
        }
    }
    .btn-next{
        &::after{
            content: '\f054';
            font-family: $font-awesome-5-free;
            font-weight: 700;
            margin-left: 0.5rem;
        }
    }
    .state{
        display: flex;
        align-items: center;
        .current{
            margin: 0 0.5rem;
            background-color: $vert;
            border-radius: 50%;
            display: inline-block;
            width: 2rem;
            height: 2rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
        }
    }

    .question-wrapper{
        padding: 2rem 0;
    }

    .ennonce-wrapper{
        padding: 1.5rem .5rem;
        h2{
            font-family: $font-bold;
        }
        .question-title{
            font-family: $font-bold;
        }
    }
}

.fresh-submission-score{
    display: flex;
    flex-direction: column;
    align-items: center;

    .illustration{
        width: 25vh;
        height: 25vh;
        background-color: $vert;
        border-radius: 50%;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before{
            content: '\f00c';
            font-family: $font-awesome-5-free;
            font-size: 3.25rem;
            font-weight: 700;
            border: 4px solid $white;
            border-radius: 50%;;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.fresh-score{
    padding: 1.5rem 0;
    font-size: 1.25rem;
    font-family: $font-bold;
    &-title{
        padding: 0 0 2.5rem 0;
    }
}

.question-wrapper{
    position: relative;
    .table{
        border: none;
        max-width: 500px;
        margin: auto;
        padding: 2.5rem 0;
        tr{
            background-color: $white;
            td{
                box-shadow: none;
            }
        }
        thead{
            &::before{
                content: 'Réponses';
                font-size: 1rem;
                font-family: $font-bold;
            }
            th{
                display: none;
                color: $orange;
                font-size: 1rem;
            }
        }
    }
    .quiz-report-score-container{
        position: absolute;
        top: 0;
        left: 1rem;
        padding: 0.5rem .75rem;
    }

}

@include breakpoint('small'){
    .submission-title{
        margin: 2rem 0;
    }
}