@import '../../base/variables';

body{
    font-family: $font-regular;
}

.with-section{
  border-top: 1px solid $ligh-dark-grey;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

.block-page-title-block{
    .title{
        text-transform: uppercase;
    }
}

.wagam-header{
    border-bottom: 1px solid $ligh-dark-grey;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.btn{
  .fab,
  .far,
  .fas{
    margin-right: 0.5rem;
  }
}

.branding-group{
    display: flex;
    align-items: center;
    padding: 20px;
    .site-name{
        font-size: 1.5rem;
        margin-left: 1rem;
    }
}

.branding-logo{
    width: 75px;
    border-radius: 50%;
}

.field--name-field-media-image{
    margin: 0 !important;
    img{
        width: 100% !important;
        height: auto !important;
        margin: 0;
    }
}

h1{
  font-family: $font-bold;
}

@include breakpoint('medium'){
    .branding-logo{
        display: inline-block;
        width: 100px;
    }
    .offcanvas-body{
        align-items: center;
    }
}
