@import '../../base/variables';

.card-list{
  .card{
    margin: 0.5rem 0;
  }
}

@include breakpoint('small'){
  .card-list{
    .card{
      &:nth-child(n){
        margin: 0 0.5rem 0.5rem 0;
      }
      &:nth-child(3n){
        margin: 0 0 0.5rem 0.5rem;
      }
    }
  }
}
