.quiz-list{
    .branche-title{
        background-color: var(--branche-color);
        color: $white;
        font-size: 1.25rem;
        font-family: $font-bold;
        display: inline-block;
        padding: 0.5rem 0.75rem;
        margin: 1rem 0;
        border-radius: .625rem;
        &-wrapper{
            display: flex;
        }
    }

    .class-title{
        font-family: $font-bold;
        color: $orange;
        display: flex;
        position: relative;
        &:before{
            content: '';
            width: 5px;
            background-color: var(--branche-color);
            margin-right: .5rem;
        }
    }
}
